body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #993232,#41bbebb9 ) ;
    scroll-behavior: smooth;
}
h1 {
    display: flex;
    padding: 60px;
    border-bottom: 10px solid;
    font-size: 50px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    box-shadow: 10px black;
    border-radius: 90%;
}
.bg {
    background-color: #eceaea;
    animation: slideDown 2s ease forwards;
    opacity: 0;
    margin: 2px auto;
    transform: translateY(-30px);     
    max-width: 800px;
    height: 650px;
    border-radius: 120px 120px 30px 30px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.link {
    text-align: center;
    border-radius: 20px;
    border: 2px solid;
    padding: 20px;
    width: 200px;
    margin: 10px auto;
    background-color: rgb(0, 0, 0);
    transform: scale(0.95);
    transition: transform 0.5s ease;
  
}
.link:hover {
      transform: scale(1.02);
}
.link:active {
    color: blue;
}

/* Animasi */
@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}