/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: rgb(12, 18, 56);
  color: #000000; /* white text */
  scroll-behavior: smooth;
}
/* navrbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.navbar {
  padding: 5px ;
  background-color: #8bd6f3ee;
  justify-content: center;
  border-bottom: 2px solid white;
  box-shadow: 0px 0px 10px white;
  transform: translateY(-30px);
  animation: slideDown 1s ease forwards ;
} 

.navbar ul {
  list-style-type: none;
  padding-left: 20px;
  margin: 0px;
  display: flex;
  gap: 10px;
  transform: scale(0.95);
  transition: transform 0.5s ease;
}

.navbar li {
  display: inline;
  border-radius: 10px;
    
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 10px;
  display: block;
  transform: scale(0.95); 
  transition: transform 0.3s ease;
 
}

.navbar a:hover {
  border-radius: 4px;
  transform: scale(1.02);
}
.navbar a:active {
  color: #086786;
}
.logonav {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 5px;
  opacity: 0;
  animation: slideDown 1s ease forwards;
  transform: translateY(-30px);
}
/* Header */
header {
  color: rgb(255, 255, 255);
  padding: 40px 20px ;
  margin-top: 100px;
  text-align: center;
  animation: slideDown 2s ease forwards;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.8s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.typing {
  width: 100px;
   font-size: 2rem;
   border-right: 3px solid #ffffff;
   white-space: nowrap;
   overflow: hidden;
   width: 0;
   animation: typing 5s steps(40, end) forwards, blink 0.7s step-end infinite;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
  border: #ffffff solid 3px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  animation: slideDown 1s ease forwards;
  transform: translateY(-30px);
}
.judul {
  text-align: center;
}
.kumpul2 {
    border-radius: 10px;
    margin: 30px auto;
    text-align: center;
    padding-top: 10px;
    background-color: #8bd6f3b6;
    max-width: 90%;
    border-radius: 90%;
    opacity: 0;
    box-shadow: 0px 0px 10px;
    animation: slideDown 1s ease forwards;
    transform: translateY(-30px);
}
.kumpul {
    display: flex; 
    gap: 15px;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 25px;
}
.card {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    background-color: azure;
    box-shadow: 0px 0px 10px;
    flex-shrink: 0;
    background-color:#d8d7d7 ;
    padding: 10px;
    transform: scale(0.95);
    transition: transform 0.3s ease;
}
/* Section content */
section {
  background: #8bd6f3b6;
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 12px;
  box-shadow: 0px 0px 10px black;
  animation: slideDown 1s ease forwards;

}

section.visible {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
  text-transform: none;
}
.wa {
  text-decoration: none;
  padding: 10px;
  color: #0af7ff;
  border: #086786 solid 2px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

h2 {
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  text-align: center
}

/* Project cards */
.project {
  background: #d8d7d7;
  color: #000000;
  padding: 15px;
  margin-top: 10px;
  border-left: 4px solid #000000;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 8px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
.project1 {
  background: #d8cfcf;
  color: #000000;
  padding: 15px;
  margin-top: 10px;
  border-left: 4px solid #000000;
  box-shadow: 0px 0px 5px black;
  border-radius: 8px;
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 15px;
}
h3 {
  margin: 0px;
  padding-top:0;
}
/* animasi */
.card:hover {
  transform: scale(1.0);
}
.wa:hover {
  transform: scale(1.0);
}

.project:hover {
  transform: scale(1.02);
}

.project1:hover {
  transform: scale(1.02);
}

.gambar:hover {
  transform: scale(1.02);
}
.ahli {
  padding: 20px;
  max-width: 800px;
  margin: 30px auto;
  background-color: #8bd6f3b6;
  color: #000000;
  border-radius: 100px;
  text-align: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}
.gambar {
  width: 200px;
  height: auto;
  padding: 0px;
  transform: scale(0.95);
  transition: transform 0.3s ease;

} 
/* Footer */
footer {
  text-align: center;
  background: rgb(12, 18, 56);
  color: rgb(255, 253, 253);
  padding: 20px;
  margin-top: 60px;
  border-top: #cab7b7 solid 4px;
  box-shadow: 0px 0px 10px white;
}
#stars {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Animasi */
 @keyframes typing {
  from { width: 0 }
 to { width: 100% }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
}
@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}