/* Global styles */
*{
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  color: #fff9f9; /* white text */
}
body {
    background: rgb(12, 18, 56);
}
h1 {
  text-align: center;
  padding: 25px;
  
}
h2 {
  border-bottom: 2px solid rgb(0, 0, 0);
  color: black;
  padding: 10px;
}
a {
  text-decoration: none;
  color: blue;
  font-size: 25px;
  
}
.banner {
  padding: 10px;
  width: 100%;
  height: 100px;
} 

/* produk */
.kumpul {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 20px;
  box-sizing: border-box;
}
.text { 
   background-color: rgb(126, 134, 185);
   margin: 20px auto;
   text-align: center;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 6px;  
   opacity: 0;
   margin-top: 60px;
   animation: slideDown 1s ease forwards;
   transform: translateX(-30px);
}
.isi {
  width: 250PX;
  height: 300px;
  background-color: rgb(100, 100, 100);
  border-radius: 10px;
  flex-shrink: 0;
  margin-left: 10px;
  margin-right: 10px;
  border: #feffff solid 3px;
  box-shadow: 0 0 10px rgba(255,255,255,0.1); 
  transition: transform 0.3s ease;
 
}
.isi:hover {
   transform: scale(1.07);
}
a:hover {
  color: black;
}
.kontak { 
   margin: 10px auto;
   padding: 7px;
   max-width: 400px;
   border-radius: 10px;
   margin-top: 60px;
   text-align: center;
}
/* animasi */
@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}