* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
}

.aurora {
   position: fixed;
  top: 0;
  left: 0;
  width: 120%;   
  height: 120%;
  z-index: -1;   
  filter: blur(60px);
  background: radial-gradient(circle at 30% 50%, rgba(0,255,150,0.3), transparent 70%),
              radial-gradient(circle at 70% 60%, rgba(0,200,255,0.3), transparent 70%),
              radial-gradient(circle at 50% 80%, rgba(200,0,255,0.2), transparent 80%);
  transition: background 2s ease-in-out;

  animation: floatAurora 15s infinite alternate ease-in-out;
}

.judul {
    background-color: #0da5e0ee;
    width: 100%;
    height: 70px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 10px;
    transform: translateY(-30px);
    animation: slideDown 1s ease forwards ;
}
h2 {
    text-align: center;
    padding-top: 20px;

}
.judulpenjelas {
    text-align: center;
}
.kataucap{
    text-align: center;
    margin: 20px;
    color: white;
    transform: translateX(-100px);
    animation: slideDown 1s ease forwards ;
}
.products {
    margin: 0 auto 40px auto;
    max-width: 1200px;
    padding: 0 10px;
}

.products h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ffffff;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    transform: translateX(1000px);
    animation: slideDown 1s ease forwards ;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    box-shadow: 0px 0px 10px;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-info h4 {
    margin-bottom: 8px;
    color: #333;
}

.product-info p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    color: #4f46e5;
}

.buy-btn {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.buy-btn:hover {
    background-color: #6366f1;
}


@keyframes floatAurora {
  0% {
    transform: translate(-5%, -5%) scale(1);
  }
  50% {
    transform: translate(5%, 5%) scale(1.1);
  }
  100% {
    transform: translate(-3%, 4%) scale(1);
  }
}
/* animasi */
@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes slideDown {
  to {
    opacity: 1;
    transform: translateY(0);
    transform: translateX(0)
  }
}